{% extends 'accounts/base.html' %}

{% block title %}Meus planos{% endblock %}

{% block content %}
<h3>Confira aqui seus planos adquiridos</h3>
<ul>
    {% for subscription in subscriptions %}
    <li>
        <div>
            {{subscription.plan.name}} - R${{subscription.plan.price}}
            <a class="cancel_btn" href="{% url 'delete_subscription' subscription.id %}">Remover</a>
        </div>
    </li>
    {% empty %}
    <p>Você não possui planos ativos. <a href="{% url 'render_plans' %}">Clique aqui para ver nossos planos</a></p>
    {% endfor %}
</ul>
{% endblock %}