<html>

<head>
    <title>Sócio Torcedor - Meus Planos</title>
</head>

<body>
    <h1>Sócio Torcedor - Meus Planos</h1>
    <h3>Confira aqui seus planos adquiridos</h3>

    <ul>
        {% for plan in plans %}
        <li>
            <div>
                {{plan.plano.name}} - R${{plan.plano.price}}
                <a class="cancel_btn" href="{% url 'delete_my_plans' plan.id %}">Remover</a>
            </div>
        </li>
        {% empty %}
        <p>Você não possui planos ativos</p>
        {% endfor %}
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/planos.js' %}"></script>
</body>

</html>